{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<section class="content">
    <!-- Header Section -->
    <link rel="stylesheet" href="{%  static 'archive_app/list.css' %}">

    <section class="header2">
        <h1 class="title">Umelci a spolupracovníci</h1>
        {% if user.is_authenticated %}
            <a href="/employees/add_employee/" class="btn">Pridať osobu</a>
        {% endif %}
    </section>

    <!-- Filters Section -->
    <section class="filters">
        <form class="filters" id="search-form" method="get" action="{% url 'list_employees' %}">
            <div class="filter">
                <label for="abecedne">Abecedne</label>
                <select id="abecedne" class="dropdown" name="sort_order">
                    <option value="asc" {% if selected_sort_order == "asc" %}selected{% endif %}>Od a po z</option>
                    <option value="desc" {% if selected_sort_order == "desc" %}selected{% endif %}>Od z po a</option>
                </select>
            </div>
            <div class="filter">
                <label for="meno">Meno</label>
                <select id="meno" class="dropdown" name="first_name">
                    <option>-</option>
                    {% for name in first_names %}
                        <option value="{{ name }}" {% if selected_first_name == name %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <label for="priezvisko">Priezvisko</label>
                <select id="priezvisko" class="dropdown" name="last_name">
                    <option>-</option>
                    {% for name in last_names %}
                        <option value="{{ name }}" {% if selected_last_name == name %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <label for="job">Pracovná pozícia</label>
                <select id="job" class="dropdown" name="job">
                    <option>-</option>
                    {% for job in jobs %}
                        <option value="{{ job.id }}" {% if selected_job == job.id|stringformat:"s" %}selected{% endif %}>{{ job.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <label for="zverejnene">Zverejnené</label>
                <select id="zverejnene" class="dropdown" name="publicity">
                    <option value="" {% if selected_publicity == "" %}selected{% endif %}>-</option>
                    <option value="true" {% if selected_publicity == "true" %}selected{% endif %}>Zverejnené</option>
                    <option value="false" {% if selected_publicity == "false" %}selected{% endif %}>Nezverejnené</option>
                </select>
            </div>
            <div class="filter search">
                <label for="key-term">Kľúčový pojem</label>
                <input id="key-term" type="text" class="search-input" placeholder="Sem napíš pojem">
            </div>
            <div class="filter">
                <button class="btn" id="search-button" type="submit">Vyhľadať</button>
            </div>
        </form>
    </section>

    <!-- Results Section -->
    <section class="results">
        {% for e in employees %}
            <div><a href="{% url 'get_employee' e.id %}" class="item"> {{ e.first_name }} {{ e.last_name }} </a></div>
        {% endfor %}
        <p class="results-text">Nájdených {{ employees.count }} záznamov.</p>
    </section>
</section>

{% endblock %}