{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<section class="content">
    <!-- Header Section -->
    <link rel="stylesheet" href="{%  static 'archive_app/list.css' %}">

    <section class="header2">
        <h1 class="title">Súbory</h1>
        {% if user.is_authenticated %}
            <a href="/ensembles/add_ensemble/" class="btn">Pridať súbor</a>
        {% endif %}
    </section>

    <!-- Filters Section -->
    <section class="filters">
        <div class="filter">
            <label for="abecedne">Abecedne</label>
            <select id="abecedne" class="dropdown">
                <option>Od a po z</option>
                <option>Od z po a</option>
            </select>
        </div>
        <div class="filter">
            <label for="zverejnene">Zverejnené</label>
            <select id="zverejnene" class="dropdown">
                <option>-</option>
            </select>
        </div>
        <div class="filter search">
            <label for="key-term">Kľúčový pojem</label>
            <input id="key-term" type="text" class="search-input" placeholder="Sem napíš pojem">
        </div>
        <div class="filter">
            <button class="btn ">Vyhľadať</button>
        </div>
    </section>

    <!-- Results Section -->
    <section class="results">
        <p class="results-text">Nájdených 0 záznamov.</p>
    </section>
</section>
{% endblock %}