{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<section class="content">
    <!-- Header Section -->
    <link rel="stylesheet" href="{%  static 'archive_app/list.css' %}">

    <section class="header2">
        <h1 class="title">Súbory</h1>
        {% if user.is_authenticated %}
            <a href="/ensembles/add_ensemble/" class="btn">Pridať súbor</a>
        {% endif %}
    </section>

    <!-- Filters Section -->
    <section class="filters">
        <form class="filters" id="search-form" method="get" action="{% url 'list_ensembles' %}">
            <div class="filter">
                <label for="abecedne">Abecedne</label>
                <select id="abecedne" class="dropdown" name="sort_order">
                    <option value="asc" {% if selected_sort_order == "asc" %}selected{% endif %}>Od a po z</option>
                    <option value="desc" {% if selected_sort_order == "desc" %}selected{% endif %}>Od z po a</option>
                </select>
            </div>
            <div class="filter">
                <label for="zverejnene">Zverejnené</label>
                <select id="zverejnene" class="dropdown" name="publicity">
                    <option value="" {% if selected_publicity == "" %}selected{% endif %}>-</option>
                    <option value="true" {% if selected_publicity == "true" %}selected{% endif %}>Zverejnené</option>
                    <option value="false" {% if selected_publicity == "false" %}selected{% endif %}>Nezverejnené</option>
                </select>
            </div>
            <div class="filter search">
                <label for="key-term">Kľúčový pojem</label>
                <input id="key-term" type="text" class="search-input" name="key_term" placeholder="Sem napíš pojem" value="{{ request.GET.key_term }}">
            </div>
            <div class="filter">
                <button class="btn" id="search-button" type="submit">Vyhľadať</button>
            </div>
        </form>
    </section>

    <!-- Results Section -->
    <section class="results">
        {% for e in ensembles %}
            <div><a href="{% url 'get_ensemble' e.id %}" class="item"> {{ e.name }} </a></div>
        {% endfor %}
        <p class="results-text">Nájdených {{ ensembles.count }} záznamov.</p>
    </section>
</section>
{% endblock %}