{% load static %}
<footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="{%  static 'archive_app/logo-text.png' %}" alt="SND Logo">
            </div>
            <div class="footer-info">
                <p>Adresa: Pribinova 17, 819 01 Bratislava</p>
                <p>Telefón: <a href="tel:+421220472111">+421 2 204 72 111</a></p>
                <p>E-mail: <a href="mailto:info@snd.sk">info@snd.sk</a></p>
            </div>
        </div>
    </footer>
</body>
</html>