<h3>Inscenačný tím (činohra)</h3>
    <div class="row">
        <div class="form-group">
            <label for="rezia">Réžia:</label>
            <input id="rezia" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="rezia_suggestions">
            <datalist id="rezia_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="scena">Scéna:</label>
            <input id="scena" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="scena_suggestions">
            <datalist id="scena_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="preklad">Preklad:</label>
            <input id="preklad" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="preklad_suggestions">
            <datalist id="preklad_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="dramaturgia">Dramaturgia:</label>
            <input id="dramaturgia" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="dramaturgia_suggestions">
            <datalist id="dramaturgia_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="choreografia">Choreografia:</label>
            <input id="choreografia" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="choreografia_suggestions">
            <datalist id="choreografia_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="hudba">Hudba:</label>
            <input id="hudba" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="hudba_suggestions">
            <datalist id="hudba_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="dirigent">Dirigent:</label>
            <input id="dirigent" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="dirigent_suggestions">
            <datalist id="dirigent_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="odborna_spolupraca">Odborná spolupráca:</label>
            <input id="odborna_spolupraca" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="odborna_spolupraca_suggestions">
            <datalist id="odborna_spolupraca_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="kostymy">Kostýmy:</label>
            <input id="kostymy" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="kostymy_suggestions">
            <datalist id="kostymy_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="svetla">Svetelný dizajn:</label>
            <input id="svetla" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="svetla_suggestions">
            <datalist id="svetla_suggestions"></datalist>
        </div>
    </div>