<h3>Inscenačný tím (opera/opereta)</h3>
    <div class="row">
        <div class="form-group">
            <label for="rezia">Réžia:</label>
            <input id="rezia" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="rezia_suggestions">
            <datalist id="rezia_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="scena">Scéna:</label>
            <input id="scena" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="scena_suggestions">
            <datalist id="scena_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="dramaturgia">Dramaturgia:</label>
            <input id="dramaturgia" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="dramaturgia_suggestions">
            <datalist id="dramaturgia_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="preklad">Preklad:</label>
            <input id="preklad" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="preklad_suggestions">
            <datalist id="preklad_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="choreografia">Choreografia:</label>
            <input id="choreografia" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="choreografia_suggestions">
            <datalist id="choreografia_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="pohyb">Pohybová spolupráca:</label>
            <input id="pohyb" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="pohyb_suggestions">
            <datalist id="pohyb_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="dirigent">Dirigent:</label>
            <input id="dirigent" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="dirigent_suggestions">
            <datalist id="dirigent_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="hudobne_nastudovanie">Hudobné naštudovanie:</label>
            <input id="hudobne_nastudovanie" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="hudobne_nastudovanie_suggestions">
            <datalist id="hudobne_nastudovanie_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="libreto">Libreto:</label>
            <input id="libreto" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="libreto_suggestions">
            <datalist id="libreto_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="zbormajster">Zbormajster:</label>
            <input id="zbormajster" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="zbormajster_suggestions">
            <datalist id="zbormajster_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="kostymy">Kostýmy:</label>
            <input id="kostymy" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="kostymy_suggestions">
            <datalist id="kostymy_suggestions"></datalist>
        </div>
        <div class="form-group">
            <label for="svetla">Svetelný dizajn:</label>
            <input id="svetla" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="svetla_suggestions">
            <datalist id="svetla_suggestions"></datalist>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="videoprojekcie">Videoprojekcie:</label>
            <input id="videoprojekcie" type="text" placeholder="sem zadaj meno" onkeyup="fetchSuggestions(this.id)" autocomplete="off" list="videoprojekcie_suggestions">
            <datalist id="videoprojekcie_suggestions"></datalist>
        </div>
    </div>