{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<section class="content">
    <link rel="stylesheet" href="{%  static 'archive_app/form_concerts_and_events.css' %}">
    <div class="form-container">

        <h2>{% if play.id %}Upraviť{% else %}Pridať{% endif %} divadelné predstavenie</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="title">Titul:</label>
                <input id="title" name="title" type="text" placeholder="Titul" required {% if play.id %} value="{{ form.title.value }}" {% endif %}>
{#                <label for="subtitle">Podtitul:</label>#}
                <input type="text" id="subtitle" placeholder="Podtitul" {% if play.subtitle %} value="{{ form.subtitle.value }}" {% endif %}>
            </div>

            <div class="form-group">
                <label for="author-name">Autor:</label>
                <input type="text" name="author_first_name" placeholder="Meno" {% if play.id %} value="{{ form.author_first_name.value }}" {% endif %}>
                <input type="text" name="author_last_name" placeholder="Priezvisko" {% if play.id %} value="{{ form.author_last_name.value }}" {% endif %}>
            </div>

            <div class="form-group">
                <label for="ensemble">Súbor:</label>
                <select id="ensemble" name="ensemble" required>
                    {% for e in ensembles %}
                        <option value="{{ e.id }}" {% if play.ensembles == e %}selected{% endif %}> {{ e.name }}  </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="description">Popis:</label>
                <textarea id="description" name="description" rows="5" placeholder="Sem píšte popis...">{% if play.id %}{{ form.description.value }}{% endif %}</textarea>
            </div>

            <div class="form-group">
                <label for="genre">Žáner:</label>
                <select id="genre_type" name="genre_type">
                    {% for g in genres %}
                        <option value="{{ g.id }}" {% if play.genre_type == g %}selected{% endif %}> {{ g.name }}  </option>
                    {% endfor %}
                </select>
            </div>

            <h3> Prílohy:</h3>
            <div class="form-group upload-section">
                 <label class="upload-label">Články a kritiky&ensp;
                    <input type="file" id="file-upload-1" class="file-input" accept="image/*, .pdf, .doc, .docx">
                    <span class="btn">Prilož súbor</span>
                    <img id="file-preview-1" class="file-preview">
                </label>

                <label class="upload-label">Plagát a bulletin&ensp;
                    <input type="file" id="file-upload-2" class="file-input" accept="image/*, .pdf, .doc, .docx">
                    <span class="btn">Prilož súbor</span>
                    <img id="file-preview-2" class="file-preview">
                </label>

                <label class="upload-label">Fotografie&ensp;
                    <input type="file" id="file-upload-3" class="file-input" accept="image/*, .pdf, .doc, .docx">
                    <span class="btn">Prilož súbor</span>
                    <img id="file-preview-3" class="file-preview">
                </label>
            </div>


            <div class="form-actions">
                <label for="publish" class="publish">
                    <input type="checkbox" name="publicity" {% if play.publicity == True %} checked {% endif %}> Zverejniť
                </label>
                <button type="submit" class="submit">Uložiť</button>
            </div>
        </form>
    </div>

</section>
{% endblock %}