{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%  static 'archive_app/get_entity.css' %}">
<section class="content">
    <h1>{{ play.title }}</h1>
    <hr>
    {% if request.user.is_authenticated and request.user.is_staff %}
    <div class="action-buttons" >
        <a href="{% url 'edit_play' play.id %}" class="btn btn-primary">Upraviť</a>
        <button class="copy">Vytvoriť kópiu</button>
    </div>
    {% endif %}

    <div class="container">
        <div class="left-section">
            <p><em>{{ play.genre_type }}</em></p>
            <label for="author">Autor:</label>
            <div class="content">{{ play.author_first_name }} {{ play.author_last_name }}</div>

            <label for="premiere">Premiéra:</label>
            <div class="content">
                {% for rep in repeats %}
                    {% if rep.repeat_type.name == "Premiéra" %}
                        <p>{{ rep.date }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <label class="label">Derniera:</label>
            <div class="content">
                {% for rep in repeats %}
                    {% if rep.repeat_type == "Derniéra" %}
                        <p>{{ rep.date }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <label class="label">Popis:</label>
            <div class="content">{{ play.description }}</div>

{#            <label class="label">Miesto:</label>#}
{#            <div class="content">{{ play.description }}</div>#}

            <div class="team-list">
                <h2>Insenačný tím</h2>
                <div class="team-item">
                    {% for job, people in production.items %}
                        <label class="label">{{ job.name }}:</label>
                        {% for p in people %}
                            <div class="content">&emsp;<a href="{% url 'get_employee' p.id %}" class="item"> {{ p.first_name }} {{ p.last_name }}  </a> </div>
                        {% endfor %}
                    {% endfor %}

                </div>
                <!-- ostatne inscenacne picoviny pridat SEM -->
            </div>
        </div>

        <div class="right-section">
            <h2>Obsadenie</h2>
            <div class="obsadenie-list">
                <div class="obsadenie-item">
                    {% for role, actors in performers.items %}
                        <strong>{{ role }}</strong>
                        {% for actor in actors %}
                            <br> &emsp;<a href="{% url 'get_employee' actor.id %}" class="item">{{ actor.first_name }} {{ actor.last_name }} </a>
                        {% endfor %}
                        <br> <br>
                    {% endfor %}
                </div>
                <!-- ostatne obsadenie picoviny pridat SEM -->
            </div>
        </div>
    </div>

    <hr>


    <div class="container">
        <div class="left-section">
            <div class="label">Počet repríz:</div>
            <div class="content">{{ repeats.count }}</div>

            <div class="label">Dátumy repríz:</div>
            <div class="date-box">
                <ul>
                    {% for rep in repeats %}
                        <li><a href="{% url 'get_repeat' play.id rep.id %}" class="item"> {{ rep.date }} </a></li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <br>

                {% if user.is_authenticated %}
                    <a href="{% url 'form_repeats' play.id %}" class="btn">Pridať reprízu</a>
                {% endif %}
        </div>

        <div class="photos-right-section">
            {% for doc in documents %}
                {% with doc.document.document_path.url|lower as file_url %}
                    {% if file_url|slice:"-4:" == ".jpg" or file_url|slice:"-4:" == ".png" or file_url|slice:"-5:" == ".jpeg" or file_url|slice:"-4:" == ".gif" %}
                        <div class="photo-gallery">
                            <img src="{{ file_url }}" alt="Fotografia z predstavenia" class="photo">
                        </div>
                    {% else %}
                        <div class="pdf-link">
                            <div class="pdf-icon">📄</div>
                            <a href="{{ file_url }}" target="_blank">Stiahnuť súbor</a>
                        </div>
                    {% endif %}
                {% endwith %}
            {% empty %}
                <p>Žiadne prílohy</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}