{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{%  static 'archive_app/get_entity.css' %}">
<section class="content">
    <div class="title-with-subheading">
        <h1> {{ employee.first_name }} </h1>
        <h1> {{ employee.last_name }} </h1>
    </div>
    <hr>
    {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="action-buttons" >
            <a href="{% url 'edit_employee' employee.id %}" class="btn btn-primary">Upraviť</a>
            <a href="{% url 'copy_employee' employee.id %}" class="btn btn-secondary copy">Vytvoriť kópiu</a>
        </div>
    {% endif %}
    <div>
        {% for role in roles %}
            {% if not role.job.play_character %}
                <div class="title-with-subheading">
                <h2>{{ role.job }}</h2>
                <p> {{ role.date_start|date:"d.m.Y" }} {% if role.date_end %} - {{ role.date_end|date:"d.m.Y" }} {% endif %} </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-profile">
        <div class="profile">
             <p><em> {{ employee_type }} </em></p>

             <div class="profile_img">
                {% if profile_photo %}
                    <img style="max-width: 700px" src="{{ profile_photo.document_path.url }}" alt="Profile Image" />
                {% else %}
                    <img style="max-width: 700px" src="{% static 'archive_app/profile.jpg' %}" alt="Profile Image" />
                {% endif %}
            </div>

            <!-- <div class="profile_img">
{#                <img src="{{ employee.profile_image.url }}" alt="Profile Image" />#}
                <img style="max-width: 700px" src="{%  static 'archive_app/profile.jpg' %}" alt="Profile Image" />
            </div> -->

            <div class="profile_info">
                <div>
                    {% if date_publicity %}
                        <label for="label">Dátum narodenia:</label>
                        <div class="content">{{ employee.date_of_birth|date:"d.m.Y" }}</div>

                        {% if employee.date_of_death %}
                            <label class="label">Dátum úmrtia:</label>
                            <div class="content">{{ employee.date_of_death|date:"d.m.Y" }}</div>
                        {% endif %}
                    {% endif %}

                    <label class="label">Miesto narodenia:</label>
                    <div class="content">{{ employee.place_of_birth }}</div>

                    <label class="label">Súbor:</label>
                    <div class="content">{{ employee.ensemble }}</div>
                </div>

                <div>
                    <label class="label">Popis:</label>
                    <div class="content">{{ employee.description }}</div>
                </div>`
            </div>


        </div>
         <div>{{ plays.count }}</div>

        <hr>
        {% if plays %}
        <div class="right-section">
            <h2>Divadelné hry</h2>
            <div class="obsadenie-list">
                <div class=date-box>
                    <ul>
                    {% for play in plays %}
                        <li><a href="{% url 'get_play' play.id %}" class="item"> {{ play }} </a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% if concerts %}
        <div class="right-section">
            <h2>Koncerty a podujatia</h2>
            <div class="obsadenie-list">
                <div class=date-box>
                    <ul>
                    {% for c in concerts %}
                        <li><a href="{% url 'get_concert_or_event' c.id %}" class="item"> {{ c }} </a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>



</section>
{% endblock %}