{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archív SND</title>
    <link rel="stylesheet" href="{%  static 'archive_app/index.css' %}">
</head>
<body>
    <header class="header">
        <div class="container" style="display: flex; align-items: center;">
            <div class="logo-title">
                <div class="logo">
                    <a href="/"><img src="{%  static 'archive_app/logo.png' %}" alt="SND Logo"></a>
                </div>
                <h1>Archív SND</h1>
            </div>
            <nav class="nav">
                <a href="/plays">Predstavenia</a>
                <a href="/concerts_and_events">Koncerty a podujatia</a>
                <a href="/ensembles">Súbory</a>
                <a href="/employees">Umelci a spolupracovníci</a>
            </nav>
            <div class="login">
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'create_admin' %}" class="login-btn">Pridať/vymazať administrátora</a>
                {% endif %}
{#                <div class="user-data">#}
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="login-btn" >Odhlásiť sa</a>
                    <p class="username" > {{ user.get_username }}</p>
                {% else %}
                    <a href="{% url 'login' %}" class="login-btn">Prihlásiť sa</a>
                {% endif %}
{#                </div>#}
            </div>
        </div>
    </header>