{% load static %}

{% include 'archive_app/header.html' %}
    <main>
{%  block content %}
        <section class="hero">
            <img src="{%  static 'archive_app/snd.jpg' %}" alt="Building and Fountain">
        </section>
        <section class="content">
            <link rel="stylesheet" href="{%  static 'archive_app/list.css' %}">
            <div class="container">
                <div class="column">
                    <h2>Výročia umelcov:</h2>
                    <ul>
                        {% for anniversary in employee_anniversaries %}
                            <li>
                                {{ anniversary.age }}. narodeniny umelca
                                <a href="{% url 'get_employee' id=anniversary.employee.id %}">
                                    {{ anniversary.employee.first_name }} {{ anniversary.employee.last_name }}
                                </a>
                            </li>
                        {% empty %}
                            <p>Žiadne výročia.</p>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column">
                    <h2>Výročia inscenácií:</h2>
                    <ul>
                        {% for anniversary in play_anniversaries %}
                            <li>
                                {{ anniversary.play_age }}. výročie premiéry hry
                                <a href="{% url 'get_play' id=anniversary.play.id %}">
                                    {{ anniversary.play.title }}
                                </a>
                                ({{ anniversary.premiere_year }})
                            </li>
                        {% empty %}
                            <p>Žiadne výročia.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
{%  endblock %}
    </main>

{% include 'archive_app/footer.html' %}
