{% load static %}

{% include 'archive_app/header.html' %}
    <main>
{%  block content %}
        <section class="hero">
            <img src="{%  static 'archive_app/snd.jpg' %}" alt="Building and Fountain">
        </section>
        <section class="content">
            <div class="container">
                <div class="column">
                    <h2>Výročia umelcov</h2>
                    <ul>
                        <li>242. výročie narodenia umelca Niccolò Paganini</li>
                        <li>242. výročie narodenia umelca Niccolò Paganini</li>
                        <li>242. výročie narodenia umelca Niccolò Paganini</li>
                        <li>242. výročie narodenia umelca Niccolò Paganini</li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Výročia inscenácií</h2>
                    <ul>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                    </ul>
                </div>
            </div>
        </section>
{%  endblock %}
    </main>

{% include 'archive_app/footer.html' %}
