{% load static %}

{% include 'archive_app/header.html' %}
    <main>
{%  block content %}
        <section class="hero">
            <img src="{%  static 'archive_app/snd.jpg' %}" alt="Building and Fountain">
        </section>
        <section class="content">
            <link rel="stylesheet" href="{%  static 'archive_app/list.css' %}">
            <div class="container">
                <div class="column">
                    <h2>Výročia umelcov:</h2>
                    <ul>
                        {% for person in anniversaries %}
                            <li>
                              {% if person.birth_anniversary %}
                                  <a href="{% url 'get_employee' person.id %}" class="item">{{ person.name }}</a> má dnes {{ person.birth_anniversary }}. výročie narodenia.<br>
                              {% endif %}
                              {% if person.death_anniversary %}
                                  <a href="{% url 'get_employee' person.id %}" class="item">{{ person.name }}</a> má dnes {{ person.death_anniversary }}. výročie úmrtia.<br>
                              {% endif %}
                            </li>
                        {% empty %}
                            <li>Žiadne výročia dnes.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column">
                    <h2>Výročia inscenácií:</h2>
                    <ul>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                        <li>81. výročie prvého uvedenia hry Rodinné putá (1943)</li>
                    </ul>
                </div>
            </div>
        </section>
{%  endblock %}
    </main>

{% include 'archive_app/footer.html' %}
