{% extends 'archive_app/index.html' %}
{% load static %}
{% block content %}
<section class="content">
    <!-- Header Section -->
    <link rel="stylesheet" href="{%  static 'archive_app/list.css' %}">

    <section class="header2">
        <h1 >Predstavenia</h1>
        {% if user.is_authenticated %}
            <a href="/plays/add_play" class="btn">Pridať predstavenie</a>
        {% endif %}
    </section>

    <!-- Filters Section -->
    <section class="filters">
        <form class="filters" id="search-form" method="get" action="{% url 'list_plays' %}">
            <div class="filter">
                <label for="abecedne">Abecedne</label>
                <select id="abecedne" class="dropdown" name="sort_order">
                    <option value="asc" {% if selected_sort_order == "asc" %}selected{% endif %}>Od a po z</option>
                    <option value="desc" {% if selected_sort_order == "desc" %}selected{% endif %}>Od z po a</option>
                </select>
            </div>
            <div class="filter">
                <label for="zaner">Žáner</label>
                <select id="zaner" class="dropdown" name="genre">
                    <option>-</option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if selected_genre == genre.id|stringformat:"s" %}selected{% endif %}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <label for="subor">Súbor</label>
                <select id="subor" class="dropdown" name="ensemble">
                    <option>-</option>
                    {% for ensemble in ensembles %}
                        <option value="{{ ensemble.id }}" {% if selected_ensemble == ensemble.id|stringformat:"s" %}selected{% endif %}>{{ ensemble.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <label for="sezona">Sezóna</label>
                <select id="sezona" class="dropdown" name="season">
                    <option>-</option>
                    {% for month, year in seasons %}
                        <option value="{{ month|date:"m"|add:"-"|add:year|date:"Y" }}" {% if selected_season == month|date:"m"|add:"-"|add:year|date:"Y" %}selected{% endif %}>{{ month|date:"F" }} {{ year|date:"Y" }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter">
                <label for="zverejnene">Zverejnené</label>
                <select id="zverejnene" class="dropdown" name="publicity">
                    <option value="" {% if selected_publicity == "" %}selected{% endif %}>-</option>
                    <option value="true" {% if selected_publicity == "true" %}selected{% endif %}>Zverejnené</option>
                    <option value="false" {% if selected_publicity == "false" %}selected{% endif %}>Nezverejnené</option>
                </select>
            </div>
            <div class="filter search">
                <label for="key-term">Kľúčový pojem</label>
                <input id="key-term" type="text" class="search-input" name="key_term" placeholder="Sem napíš pojem">
            </div>
            <div class="filter">
                <button class="btn" id="search-button" type="submit">Vyhľadať</button>
            </div>
        </form>
    </section>

    <!-- Results Section -->
    <section class="results">
        {% for play in plays %}
            <div><a href="{% url 'get_play' play.id %}" class="item"> {{ play.title }} </a></div>
        {% endfor %}
        <p class="results-text">Nájdených {{ plays.count }} záznamov.</p>
    </section>
</section>
{% endblock %}