/* File: index.css */

/* -------------------------------------- */
/* ----------------Header---------------- */
/* -------------------------------------- */

.header {
    background-color: #232323;
    color: #fff;
    padding-right: 20px;
    font-family: 'Helvetica', Arial, sans-serif;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    height: 120px;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}

.header .logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .nav {
    display: flex;
    gap: 20px;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
}


.header .nav a {
    flex: 1;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 2px 7px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-align: center;
}

.header .nav a:hover {
    background-color: #555;
}

.header .nav a.active {
    background-color: #6b9080;
    color: #fff;
    font-weight: bold;
}


.header .login-btn {
    background: #8b8a8a;
    color: #222;
    border: none;
    padding: 5px 7px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 5px;
    text-decoration: none;

}

.header .login-btn:hover {
    background: #ffffff;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0);
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-between;
    gap: 5px;
    margin: 5px;
}

.user-data {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.username {
    margin: 5px;
}

.login.login-btn {
    margin-top: 0;
}

/* Responsive navigation for smaller screens */
@media (max-width: 768px) {
    .header .nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header .nav a {
        width: 90%;
        text-align: center;
    }
}

/* -------------------------------------- */
/* ----------------Body---------------- */
/* -------------------------------------- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*.container {*/
/*    margin: 20px auto;*/
/*    width: 90%;*/
/*    max-width: 1200px;*/
/*}*/
main {
    flex: 1;
    flex-basis: 0;
}

.hero img {
    width: 100%;
    height: auto;
}

.empty-box {
    margin: 10px;
    height: 1000px; /* Height of the box */
    border: 2px solid black; /* Border style */
    background-color: white; /* Background color */

}

.content .container {
    /*padding: 20px;*/
}


.header2 {
    padding: 10px;
    font-size: 1.7rem;
    font-family: 'Helvetica', Arial, sans-serif;
}

.column {
    flex: 1;
    padding: 10px;
}

.column h2 {
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 5px;
}


/* -------------------------------------- */
/* ----------------Footer---------------- */
/* -------------------------------------- */
.footer {
    background-color: #232323;
    color: #fff;
    height: 125px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer .footer-logo img {
    height: 125px;
    /*margin-left: auto;*/
    align-content: center;
    order: 2;
}

.footer .footer-info p {
    margin: 10px 40px 10px 0;
    text-align: center;
}

.footer .footer-info a {
    color: #fff;
    text-decoration: none;
}
